
.window-history-button2:hover {
    box-shadow: 2px 2px 4px lightskyblue;
}

 
  .dataToolTip57 {
    top: -2px;
  }
  .dataToolTip57:hover::before,
  .dataToolTip57:hover::after {
    --scale: 1;
  }
  .dataToolTip57:before {
    content: "";
    background: radial-gradient( black, rgb(2, 2, 39));
    color: aliceblue;
    width: max-content;
    position: absolute;
    content: attr(data-tool-tip);
    bottom: -3.8rem;
    left: 8.75rem;
    font-size: 1.2rem;
    transform: translateX(-100%) scale(var(--scale));
    transform-origin: top center;
    transition: ease-in 0.25s;
    border: 1px solid skyblue;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 2rem;
    padding-right: 2rem;
    --scale: 0;
    z-index: 3;
  }
  .dataToolTip57::after {
    content: "";
    font-size: 11px;
    width: 15px;
    height: 15px;
    position: absolute;
    padding: 0.1em 0.1em 0.2em 0.1em;
    top: 5.5rem;
    left: 2.7rem;
    transform: translateX(-35%) scale(var(--scale));
    transform-origin: bottom right;
    transition: 0.3s;
  
    border: 15px solid transparent;
    border-bottom: skyblue 10px solid;
  
    --scale: 0;
    z-index: 1;
  }
  .dataToolTip57 {
    top: -2px;
  }
  @media screen and (max-width: 768px) {
    .dataToolTip57::before,
    .dataToolTip57::after {
      display: none;
    }
  }